.containerMovie{
    background-color: rgb(133, 133, 133);
    text-align: center;
    justify-content: center;
    width: 70vw;
    margin: auto;
    margin-top: 20px;
}

.containerMovie h3{
    color: red;
}