.header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.listLink{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}